.dayOfTheWeek { padding: 0 2.5px; text-align: center; margin-bottom: 0.625rem;}

.day {width: 100%; text-align: center; padding: 2.5px;}

.notIncludedDay {color: rgba(0, 0, 0, 0.511) !important; background-color: #f1f1f1;}

.day:nth-child(7n + 6), 
.day:nth-child(7n), 
.dayOfTheWeek:nth-child(6), 
.dayOfTheWeek:nth-child(7) { color: #ff0000;}

.passedDates {background-color: #ff000033;}

@media screen and (hover: hover) {
    .day:hover { background-color: rgb(0, 0, 0, 0.07); cursor: pointer; }
    .nullDay:hover { background-color: inherit; cursor: auto; }
    .passedDates:hover { background-color: #fcb8b8; }
}

@media screen and (min-width: 568px) {
    .day {padding: 5px;}
    .dayOfTheWeek {padding: 0 5px;}
}